.app-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.app-nav > .menu {
  flex: auto;
  text-align: left;
}
.app-nav > .avatar {
  flex: 36px;
  text-align: right;
}
