.project-header {
  background: white;
}

/* need a better way to justify content */
.inline-h {
  position: relative;
  top: 5px;
  display: inline;
}

.proj-nav {
  padding: 20px 0;
  justify-content: center;
  
}
