.item-name {
  display: flex;
  align-items: center;
}

.item-data {
  display: flex;
  align-items: center;
}

.record-row .delete-button {
  border: none;
  visibility: hidden;
}

.record-row:hover .delete-button {
  border: none;
  visibility: visible;
}
