


.item-name {
  display: flex;
  align-items: center;
}

.item-data {
  display: flex;
  align-items: center;
}

.delete-while-hover {
  color: rgba(0, 0, 0, 0);
  padding: 0 6px;
  border-radius: 5px;
}

.delete-while-hover:hover {
  color: rgba(195, 0, 0);
  background-color: rgb(195, 0, 0, 0.05);
  border-radius: 5px;
}
