.dash-header {
  text-align: center;
  /* background: #5d39b7; */
  background-image: url('./dash-header.png');
  background-size: 100%;
  background-position: center;
}

.hero-text {
  padding: 20px 20px;
  color: white;
  text-align: left;
}

.fab-container {
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
}

.fab-container > .fab-placeholder {
  flex: auto;
}

.fab-container > .fab {
  flex: 48px;
  text-align: right;
}
