/* !!hard code max width of cell */

.data-cell {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: transparent;
  border-radius: 4px;
  color: black;
  display: flex;
  align-items: center;
  width: fit-content;
  max-width: 100px;
  /* margin: 10px 0; */
}

.data-cell:hover,
.data-cell:focus {
  border: 1px solid #ccc;
  background-color: white;
}

.item-name {
  border-left: none;
  border-right: none;
}
