.btn-primary {
  background-color: #5d39b7;
  border: #5d39b7;
  color: white;
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: #662aff;
  border: #662aff;
  color: white;
}
.btn-primary:focus {
  background-color: #662aff;
  border: #662aff;
  color: white;
}

.btn-secondary {
  border-radius: 20px;
}
.btn-light {
  border-radius: 20px;
}

.btn-outline-primary {
  border: #5d39b7;
  color: #5d39b7;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 20px;
}

.btn-outline-primary:hover {
  border: #5d39b7;
  background-color: #5d39b7;

  border-style: solid;
  border-width: 1.5px;
  border-radius: 20px;
  color: white;
}

.btn-link {
  border-style: solid;
  border-radius: 0;
  color: #5d39b7;
  text-decoration: none;
  padding: 5px 5px;
}
.btn-link:hover {
  color: #662aff;
}

.nav-link {
  color: #5d39b7;
}
.nav-link:hover {
  color: #662aff;
}

.container {
  overflow: scroll;
}

a {
  color: #5d39b7;
  text-decoration: none;
}
